---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, SERVICES } from "@consts";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort(
    (a, b) =>
      new Date(b.data.dateStart).valueOf() -
      new Date(a.data.dateStart).valueOf(),
  )
  .slice(0, SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  }),
);
---

<PageLayout title={SERVICES.TITLE} description={SERVICES.DESCRIPTION}>
  <Container>
    <div class="flex justify-center">
      <img
        src="/bauer_consulting_logo.svg"
        style="margin-bottom: 2em; width: 30%;"
        class="rounded-xl block dark:hidden"
      />
      <img
        src="/bauer_consulting_logo_dark.svg"
        style="margin-bottom: 2em; width: 30%;"
        class="rounded-xl hidden dark:block"
      />
    </div>
    <h4 class="animate font-semibold text-black dark:text-white">
      <!-- Carsten Bauer <span class="text-xl">👋🏻</span>  -->
      Consulting & Training
    </h4>
    <div class="space-y-10">
      <section>
        <article class="space-y-4">
          <p class="animate">
            I regularly give workshops at universities and private research
            institutions, mostly with a focus on scientific numerical computing,
            high-performance computing and research software engineering. If
            you're curious, feel free to reach out. I'm looking forward to your
            inquiry!
          </p>
        </article>
      </section>

      <!-- <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Upcoming Workshops
          </h5>
          <Link href="/blog">
            See all posts
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section> -->

      <!-- <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Work Experience
          </h5>
          <Link href="/work">
            See all work
          </Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {work.map(entry => (
            <li>
              <div class="text-sm opacity-75">
                {dateRange(entry.data.dateStart, entry.data.dateEnd)}
              </div>
              <div class="font-semibold text-black dark:text-white">
                {entry.data.company}
              </div>
              <div class="text-sm opacity-75">
                {entry.data.role}
              </div>
              <article>
                <entry.Content />
              </article>
            </li>
          ))}
        </ul>
      </section> -->

      <!-- <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Recent projects
          </h5>
          <Link href="/projects">
            See all projects
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {projects.map(project => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))}
        </ul>
      </section> -->

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">
          Julia HPC Workshops
        </h5>
        <article>
          <p class="animate">
            <Link href="/carstenbauer_paragliding.jpg" external>Julia</Link> is a
            beautiful programming language for numerical computing that is free to
            use and open source. It explores the tradeoffs in language design for
            dynamic programming languages and aims to be as accessible as Python
            while still being as fast as statically compiled languages (eg. C, Fortran).
          </p>
          <p>
            My 4-day course is targeted at researchers who are interested in
            numerical computing and who want to learn how to write
            high-performance codes in Julia. To get an impression of the
            content, check out e.g. this GitHub repository.
          </p>
        </article>
      </section>
    </div>
  </Container>
</PageLayout>
