---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME } from "@consts";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort(
    (a, b) =>
      new Date(b.data.dateStart).valueOf() -
      new Date(a.data.dateStart).valueOf(),
  )
  .slice(0, SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  }),
);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <div class="flex justify-center">
      <img
        src="/carstenbauer.jpg"
        style="margin-bottom: 2em; width: 98%;"
        class="rounded-xl"
      />
    </div>
    <h4 class="animate font-semibold text-black dark:text-white">
      <!-- Carsten Bauer <span class="text-xl">👋🏻</span>  -->
      About Me
    </h4>
    <div class="space-y-10">
      <section>
        <article class="space-y-4">
          <p class="animate">
            I am a quantum physicist and a manager for software and AI projects
            at the <Link
              href="https://www.dlr.de/en/ar"
              aria-label="German Space Agency at DLR"
              external
            >
              German Space Agency at DLR
            </Link>. I have previously worked as a research software engineer
            and scientific advisor within the National High-Performance
            Computing Alliance (NHR). As a freelancer, I offer <Link
              href="/services">consulting and training</Link
            > services, specializing on HPC. I contribute to several <Link
              href="https://github.com/carstenbauer"
              external>open source projects</Link
            >, most notably <Link href="https://www.julialang.org" external
              >Julia</Link
            >.
          </p>
          <p class="animate">
            Beyond my professional pursuits, I’m a proud father to a little
            girl, enjoy a wide range of sports — especially football, dancing,
            and <Link href="/carstenbauer_paragliding.jpg" external
              >paragliding</Link
            > — and play the drums.
          </p>
        </article>
      </section>

      <!-- <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Latest posts
          </h5>
          <Link href="/blog">
            See all posts
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section> -->

      <!-- <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Work Experience
          </h5>
          <Link href="/work">
            See all work
          </Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {work.map(entry => (
            <li>
              <div class="text-sm opacity-75">
                {dateRange(entry.data.dateStart, entry.data.dateEnd)}
              </div>
              <div class="font-semibold text-black dark:text-white">
                {entry.data.company}
              </div>
              <div class="text-sm opacity-75">
                {entry.data.role}
              </div>
              <article>
                <entry.Content />
              </article>
            </li>
          ))}
        </ul>
      </section> -->

      <!-- <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Recent projects
          </h5>
          <Link href="/projects">
            See all projects
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {projects.map(project => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))}
        </ul>
      </section> -->
    </div>
  </Container>
</PageLayout>
